/* Begin reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Edn reset */

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
}

.main-page {
  width: 50%;
  margin: auto;
}


/* Begin Contente BCLOCK*/
.content {
  position: relative;
  width: 100%;
  height: 40vw;
  cursor: pointer;
  margin: 20px auto;
  box-shadow: 3px 3px 2px #222;
  overflow: hidden; /* image zoom doesn't affect container */
}

.city {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease; /* smooth transition */
}

 .city:hover {
  transform: scale(1.1); /* actual 10% zoom */
  color: red;
}

/* Background Image */
.roma {
  background-image: url('../img/roma.jpg');
}

.milano {
  background-image: url('../img/milano.jpg');
}

.napoli {
  background-image: url('../img/napoli.jpg');
}
/* EDN Background Image */

.city > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  transition: all 0.4s ease; /* smooth transition */
}

.city:hover > .overlay {
  background-color: rgba(0, 0, 0, .0); /* overlay gone on hover */
}

.content h2 {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 2px 2px 1px #222;
  transition: all 0.2s;
  z-index: 5;
}
/* END Content BLOCK */
